body{

margin:0;
font-family:Arial;
background:radial-gradient(circle,#0f0f0f,#000000);
color:white;
text-align:center;

}

.header{

padding:20px;

animation:fadeIn 2s;

}
.slider{
width:90%;
height:250px;
margin:auto;
overflow:hidden;
border-radius:15px;
box-shadow:0 0 20px red;
margin-top:20px;
display:flex;
align-items:center;
justify-content:center;
}

.slide{
width:100%;
height:100%;
object-fit:contain;
display:none;
}
h1{

color:#ff2e2e;
letter-spacing:2px;
text-shadow:0 0 15px red;

}
.leaflet-tooltip{
background:#ff2e2e;
color:white;
border:none;
border-radius:10px;
padding:4px 8px;
font-weight:bold;
box-shadow:0 0 10px red;
}
#map{

height:80vh;
width:90%;
margin:auto;
border-radius:15px;
box-shadow:0 0 30px red;
margin-top:20px;

}

.driver-container{

margin-top:100px;

}

select{

padding:10px;
border-radius:8px;
font-size:16px;
margin-top:20px;

}

.buttons{

margin-top:20px;

}

button{

padding:12px 25px;
border:none;
border-radius:30px;
font-size:16px;
cursor:pointer;
margin:10px;
transition:0.3s;

}

.start{

background:#ff2e2e;
color:white;

}

.stop{

background:#444;
color:white;

}

button:hover{

transform:scale(1.1);
box-shadow:0 0 20px red;

}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(-20px);
}

to{
opacity:1;
transform:translateY(0);
}

}